<% layout('./layout/Boilerplate') %>
    <div class="row">
        <h1 class="text-center">LogIn</h1>
        <div class="col-6 offset-3">
            <form action="/login" method="post" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input id="username" type="username" placeholder="username" name='username' class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" type="password" placeholder="password" name='password' class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">LogIn</button>
                </div>
            </form>
        </div>
    </div>