<% layout('./layout/Boilerplate') %>
    <div class="px-4 py-5 px-md-5 text-center text-lg-start rounded" style="background-color: hsl(190, 71%, 92%)">
        <div class="container">
          <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h1 class="mt-5 display-3 fw-bold ls-tight mb-2">
                    Welcome Back to<br />
                    <span class="text-primary">Yelp</span>
                    <span class="text-danger">Camp</span>
                </h1>
                <p class="text-muted">
                    Continue your search for amzing camping sites...
                </p>
            </div>
    
            <div class="col-lg-6 mb-5 mb-lg-0">
              <div class="card">
                <div class="card-body py-5 px-md-5">
                  <form action="/login" method="post" novalidate class="needs-validation">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row">
                        <div class="form-outline mb-3">
                            <label for="username" class="form-label">Username</label>
                          <input id="username"name='username' type="username" class="form-control form-control-lg"
                          placeholder="Enter a Username" />
                          
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
    
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control form-control-lg"
                        placeholder="Enter password" id="password" name='password' required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="text-center text-lg-start pt-2">
                        <button type="submit" class="btn btn-primary btn-block"
                          style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        <p class="small fw-bold mt-2 pt-1 mt-3">Don't have an account? <a href="/register"
                            class="link-danger">Register</a></p>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>